.post-card {
  margin: 40px 0;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
}

.post-card-content {
  display: flex;
  align-items: center;
}

.post-card-date {
  margin-bottom: 20px;
  font-family: "Graphik";
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  text-transform: uppercase;
  color: #667085;
}

.post-card-title {
  font-family: "Graphik";
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  color: #1d2939;
  margin-bottom: 15px;
}

.post-card-description {
  font-family: "Graphik";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #475467;
  max-width: 600px;
}
@media only screen and (max-width: 768px) {
  .post-card-title {
    font-size: 19px;
  }

  .post-card-description {
    font-size: 16px;
  }

  .post-card-content img {
    display: none;
  }
}
