.hero {
  padding: 120px 0 80px;
  text-align: center;
}

.hero-title {
  max-width: 705px;
  font-family: Graphik;
  font-size: 56px;
  line-height: 120%;
  color: #1d2939;
  margin: 0 auto;
  padding-bottom: 20px;
  text-shadow: 4px 4px 2px rgba(29, 41, 57, 0.6);
}

.hero-subtitle {
  max-width: 720px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  margin: 0 auto;
  color: #475467;
}

@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: 35px;
  }

  .hero-subtitle {
    font-size: 19px;
  }
}
